@import url('https://fonts.googleapis.com/css?family=Poppins');

* { /*permanentley set font for all so i dont mess anything up like i fricken always do*/
    font-family: 'Poppins', sans-serif;
}

:root { 
    --animation-: #B200FF; /*color for thing i forget what it aws*/
    /* i remember now i think it was for the links ok */
}


/*navigation*/
.container {
    width: 100%;
    margin: 0 auto;
    left: auto;
    text-align: center;
    
    /*transition*/
    animation: posIn 1s ease;
}

@keyframes posIn {
    from {
        position: relative;
        top: -2vh;
        transition: all .3s ease;
}
    to {
        position: relative;
        top: 0vh;
        transition: all .3s ease;
    }
}

nav {
    text-align: center;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
}

nav li {
    display: inline-block;
    left: auto;
    margin: 1vh;
    position: relative;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #B200FF;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2vh;
    text-shadow: 0.11vh 0.11vh 0.1vh #B100FF;
    text-align: center;
    position: relative;
    top: 0.7vh;
    transition: all .3s ease;
}

nav a:hover {
    text-shadow: 0.5vh 0.5vh 0.5vh #B200FF;
    top: -0vh;
    color: #cccccc;
    transition: all .3s ease;
}

/*navigation ends*/






/*purchase buttons*/

.btn {
    margin: 0.6vh;
    margin-bottom: 1vh;
    text-decoration: none;
    font-style: normal;
    border: .2vh solid #FF00D0;
    padding: 1.5vh 1vh;
    border-radius: 20vh;
    box-shadow: 0vh 0vh 0vh;
    color: white;
    transition: all 0.5s;
}

.btn:hover {
    text-decoration: none;
    border: .5vh solid #B200FF;
    box-shadow: 0.25vh 0.25vh 0.1vh #BF90D0;
}

.sizebtn {
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
}



/*purchase buttons*/


.alllinks {
    border-radius: 1vh;
    padding: 0.5vh;
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #BF91F7;
    color: #1E1E1E;
    box-shadow: 0vh 0vh 0vh;
    position: relative;
    top: 0.5vh;
    transition: all .3s ease;
    /*transition*/
    animation: posIn2 .8s ease;
}

@keyframes posIn2 {
    from {
        position: relative;
        top: 4vh;
        transition: all .8s ease;
}
    to {
        position: relative;
        top: 0.5vh;
        transition: all .8s ease;
    }
}


.alllinks:hover {
    background-color: #1E1E1E;
    color: #BF91F7;
    top: 0;
    box-shadow: 0.2vh 0.2vh 0.2vh;
    transition: all .3s ease;
}

.purchaselinks {
    border-radius: 1vh;
    padding: 1.3vh;
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
    background-color: #BF91F7;
    color: #1E1E1E;
    box-shadow: 0vh 0vh 0vh;
    position: relative;
    top: 0.5vh;
    transition: all .3s ease;
    /*transition*/
    animation: posIn3 .8s ease;
}

@keyframes posIn3 {
    from {
        position: relative;
        color: #000000;
        top: 4vh;
        transition: all .8s ease;
}
    to {
        position: relative;
        top: 0.5vh;
        transition: all .8s ease;
    }
}


.purchaselinks:hover {
    background-color: #1E1E1E;
    color: #BF91F7;
    top: 0;
    box-shadow: 0.4vh 0.4vh 0.2vh;
    transition: all .3s ease;
}

.redlinks {
    border-radius: 1vh;
    padding: 1.3vh;
    padding-left: 2.3vh;
    padding-right: 2.3vh;
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f50014;
    color: #610008;
    box-shadow: 0vh 0vh 0vh;
    position: relative;
    top: 0.5vh;
    transition: all .3s ease;
    /*transition*/
    animation: posIn4 .8s ease;
}

@keyframes posIn4 {
    from {
        position: relative;
        color: #000000;
        top: 2vh;
        transition: all .8s ease;
}
    to {
        position: relative;
        top: 0.5vh;
        transition: all .8s ease;
    }
}


.redlinks:hover {
    background-color: #f50014;
    color: #610008;
    top: 0;
    box-shadow: 0.4vh 0.4vh 0.2vh;
    transition: all .3s ease;
}



html {
    background-image: url(http://sedoxfx.com/stylesheet/bgdark.png);
    background-repeat: repeat;
    background-size: 5vh;
    animation: sMove 30s linear infinite;
    /*background-color: #262626;*/
    
}

@keyframes sMove {
    from { background-position: 0% 50%; }

    to { background-position: 50% 100%; }
}


.box {
    
    position: fixed;
    top: 45%;
    left: 50%;
    
    transform: translate(-50%, -45%);
    
    min-height: 5%;
    max-height: 90%;
    min-width: 50%;
    

    border-radius:2vh;
    background: #ffff;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 2vh;
    
    background-color: #292929;
 
}


underlined {
    font-size: 2vh;
    text-decoration-line: underline; 
    color: #d43ae8;
}





itatext {
    font-size: 1.8vh;
    color: #c72adb;
    font-style: italic;
    text-decoration-line: underline; 
}





rb {
    color: red;
    font-weight: 600;
}





h1 {
    font-size: 3vh;
    font-style: normal;
    text-align: center;
    color: #dbdbdb;
    animation: leftIn 1s ease;
}

@keyframes leftIn {
    from {
        position: relative;
        left: -3vh;
}
    to {
        position: relative;
        left: 0;
    }
}





p {
    font-size: 1.7vh;
    font-style: oblique;
    text-align: center;
    color: #cccccc;
    animation: rightIn 1s ease;
    
}

@keyframes rightIn {
    from {
        position: relative;
        right: -3vh;
}
    to {
        position: relative;
        right: 0;
    }
}





footer {
    position: fixed;
    font-size: 1.5vh;
    left: 0;
    text-align: center;
    width: 100%;
}


.video {
    position: relative;
    padding-bottom: 51.25%;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 52;
    left: 25%;
    width: 50%;
    height: 50%;
}
