@import url('https://fonts.googleapis.com/css?family=Poppins');

* { /*permanentley set font for all so i dont mess anything up like i fricken always do*/
    font-family: 'Poppins', sans-serif;
}

:root { 
    --animation-: #B200FF; /*color for thing i forget what it aws*/
    /* i remember now i think it was for the links ok */
}


/*navigation*/
.container {
    width: 100%;
    margin: 0 auto;
    left:auto;
    text-align: center;
}

header {
    
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    text-align: center;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
}

nav li {
    display: inline-block;
    left: auto;
    margin: 1vh;
    position: relative;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #B200FF;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2vh;
    text-align: center;
}

nav a:hover {
    color: #ff0000;
    
    transition: all ease-in-out 100ms;
}

nav a::before {
    content: '';
    display: block;
    height: 0.2vh;
    background-color: #ff0000;
    text-align: center;
    
    position: absolute;
    width: 0;
    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

/*navigation ends*/






/*purchase buttons*/

.btn {
    margin: 0.6vh;
    margin-bottom: 1vh;
    text-decoration: none;
    font-style: normal;
    color: #B200FF;
    border: .2vh solid #FF00D0;
    padding: 1.2vh 1vh;
    border-radius: 20vh;
    transition: all 0.5s;
}

.btn:hover {
    text-align: center;
    text-decoration: none;
    color: #FF00D0;
    border: .2vh solid #B200FF;
}

.sizebtn {
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
}



/*purchase buttons*/


.alllinks {
    display: inline-block;
    line-height: 2.4vh;
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--animation-);
}

.alllinks::after {
    content: '';
    display: block;
    width: 0;
    height: .1vh;
    background: var(--animation-);
    transition: all .3s;
}

.alllinks:hover::after,
.alllinks.active::after {
    width: 100%;
}


.link2 {
    display: inline-block;
    line-height: 1vh;
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    color:#FF4500;
}

.link2::after {
    content: '';
    display: block;
    width: 0;
    height: .2vh;
    background: #FF4500;
    transition: all .3s;
}

.link2:hover::after,
.link2.active::after {
    width: 100%;
}







html {
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size: 5vh;
    animation: sMove 30s linear infinite;
    
}

@keyframes sMove {
    from { background-position: 0% 50%; }

    to { background-position: 50% 100%; }
}








/*body {
    
/*    position: fixed;
/*    top: 45%;
/*    left: 50%;
/*    /* bring your own prefixes */
/*    transform: translate(-50%, -45%);
/*    
/*    min-height: 5%;
/*    max-height: 90%;
/*
/*    
/*
/*    border-radius:2vh;
/*    background: #ffff;
/*    padding-left: 4%;
/*   padding-right: 4%;
/*    padding-top: 1%;
/*    padding-bottom: 2vh;
/*    
/*}*/

.box {
    
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
   transform: translate(-50%, -45%);
    
    min-height: 5%;
    max-height: 90%;
    min-width: 50%;
    

    border-radius:2vh;
    background: #ffff;
    padding-left: 4%;
   padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 2vh;
 
}





underlined {
    font-size: 2vh;
    text-decoration-line: underline; 
    color: #7600A9;
}





itatext {
    font-size: 1.8vh;
    color: #B200FF;
    font-style: italic;
    text-decoration-line: underline; 
}





rb {
    color: red;
    font-weight: 600;
}





h1 {
    font-size: 3vh;
    font-style: normal;
    text-align: center;
}





p {
    font-size: 1.7vh;
    font-style: oblique;
    text-align: center;
}




footer {
    position: fixed;
    font-size: 1.5vh;
    left: 0;
    text-align: center;
    width: 100%;
}


.video {
    position: relative;
    padding-bottom: 51.25%; /*ratio do not change*/
    padding-top: 25px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
}




